<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.hoseo.springproject.chapter6.dao.MusicDao">
	<select id="getAllMusics" resultType="Music">
		SELECT * FROM musics
	</select>

	<insert id="insertMusic">
		INSERT INTO musics
		(
		title,
		artist,
		uploaddttm,
		views,
		likes,
		unlikes,
		url,
		thumbnailpath
		)
		VALUES
		(
		#{title},
		#{artist},
		#{uploadDttm},
		#{views},
		#{likes},
		#{unlikes},
		#{url},
		#{thumbnailPath}
		)
	</insert>
</mapper>